{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Grapevine</span></h1>
  <p class="lead">Welcome! We make sure contractors find great places to work!.</p>

 <a href="{{request.route_url('register')}}">Register here</a>
  <p></p>
  <button>Log in</button>
</div>
{% endblock content %}

